<div class="one-hundred">
		<div id="front-page" class="front-page clearfix"> 
			<div class="container-rotator">
				<div class="stick-1"></div>
				<div class="stick-2"></div>
				<div class="stick-3"></div>
				<div class="stick-4"></div>
				<div class="stick-5"></div>
				<div class="stick-6"></div>
				<div class="stick-7"></div>
				<div class="stick-8"></div>
				<div class="stick-9"></div>
				<div class="stick-10"></div>
				<div class="stick-11"></div>
				<div class="stick-12"></div>
				<div class="stick-13"></div>
				<div class="stick-14"></div>
				<div class="stick-15"></div>
				<div class="stick-16"></div>
				<div class="stick-17"></div>
				<div class="stick-18"></div>
				<div class="stick-19"></div>
			</div>
			<div class="clearfix  milk-glass">
				<div class="col-xs-12">
					<div class="clearfix">
						<div class="col-xs-2"></div>
						<div class="col-xs-8">
							<h1>
								{{#link-to 'intro' classNames="main-title-1"}}Jessica Jordan{{/link-to}}
								<span class="main-title-2">Front-End Development</span>
							</h1>
						</div>
						<div class="col-xs-2"></div>
					</div>
				</div>
				<aside class="clearfix skill-set">
					<div class="col-sm-3"></div>
					<div class="col-sm-6">
						<div class="clearfix">
							<h2 class="col-sm-3 skills">HTML5</h2>
							<h2 class="col-sm-3 skills">CSS3</h2>
							<h2 class="col-sm-3 skills">JS</h2>
							<h2 class="col-sm-3 skills">EMBER</h2>	
					    </div>
					</div>
					<div class="col-sm-3"></div>		
				</aside>
				<div class="clearfix mt-1">
					<div class="col-xs-12">
					<p>{{#link-to 'intro' classNames="action button hover-white"}}more{{/link-to}}</p>
					</div>
				</div>
			</div>
		</div>
					<footer id="mfooter" class="main-footer clearfix invert">
		<a href="https://twitter.com/jjordan_dev" class="col-sm-1" target="_blank">{{fa-icon 'twitter'}}</a>
		<a href="https://github.com/JosephineJ" class="col-sm-1" target="_blank">{{fa-icon 'github'}}</a>
		<a href="https://www.linkedin.com/in/jessicajordanfedev" class="col-sm-1" target="_blank">{{fa-icon 'linkedin'}}</a>
		<a href="https://www.xing.com/profile/Jessica_Jordan2" class="col-sm-1" target="_blank">{{fa-icon 'xing'}}</a>
		<a href="https://www.facebook.com/jessica.jordan.front.end.developer" class="col-sm-1" target="_blank">{{fa-icon 'facebook'}}</a>
		<a href="https://angel.co/jessica-jordan-3" class="col-sm-1" target="_blank">{{fa-icon 'angellist'}}</a>
		<span class=" footer-item col-sm-3">&#169; 2015 Jessica Jordan</span>	
		{{#link-to 'imprint' classNames="footer-item col-sm-3" }}Imprint{{/link-to}}
	</footer>
</div>
