<section class="about-jessica right-side">
<div class="row">
		<div class="title-box">
			<h1>Jessica Jordan</h1>
		</div>
</div>
<article class="row">
	<div class="col-xs-12">
		<h2 class="section-title"><span>{{fa-icon 'plus-square' size=1}}</span> Professional background</h2>
		<div class="row">
			<div class="col-xs-12">
				<h3>Front End Developer // Expertise</h3>
				<ul class="expertises">
					<li>Front End Development in Ember.js, HTML5, CSS3, Javascript</li>
					<li>Conversion-Orientated A/B Testing</li>
					<li>User Experiene / User Interaction Optimization & Development</li>
				</ul>
			</div>
		</div>
		<hr class="line" />
		<div class="row">
			<div class="col-sm-4">
				<h3>Development Experience</h3>
				<ul class="expertises">
					<li>Ember.js</li>
					<li>HTML / HTML5</li>
					<li>CSS / CSS3</li>
					<li>jQuery</li>
					<li>Javascript</li>
					<li>Twitter Bootstrap</li>
					<li>Materialize</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h3>Tools Experience</h3>
				<ul class="expertises">
					<li>Ember CLI</li>
					<li>NPM / Bower</li>
					<li>Sass / SCSS</li>
					<li>HTMLBars / Handlebars</li>
					<li>Git / Github</li>
					<li>SVN</li>
					<li>JIRA / Confluence</li>
					<li>Linux / Windows</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h3>Process Experience</h3>
				<ul class="expertises">
					<li>Scrum / Standup</li>
					<li>Start-up Environment</li>
					<li>Agile Environment</li>
					<li>International Teams</li>
					<li>Remote / In-House</li>
				</ul>
			</div>
		</div>
	</div>
</article>
<hr class="line mt-2">
<article class="row">
	<div class="col-xs-12">
		<h2 class="section-title"><span>{{fa-icon 'plus-square' size=1}}</span> Academic background</h2>
		<div class="row">
			<div class="col-xs-12">
				<h3>MSc. Genome-based Systems Biology // Expertise</h3>
				<ul class="expertises">
					<li>Systems biology approach of data retrieval & analysis</li>
					<li>Genetic engineering & recombinant protein production</li>
					<li>Molecular & Cell Biology of Plant and Mammalian Cells</li>
				</ul>
			</div>
		</div>
		<hr class="line" />
		<div class="row">
			<div class="col-sm-4">
				<h3>Wet Lab Experience</h3>
				<ul class="expertises">
					<li>*Omics: Metabolomics, Proteomics, Transcriptomics, Genomics</li>
					<li>DNA / RNA Extraction</li>
					<li>sqPCR, qPCR</li>
					<li>Western / Dot Blot</li>
					<li>1D / 2D -SDS-PAGE</li>
					<li>DNA Sequencing</li>
					<li>Mammalian Cell Culture</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h3>Dry Lab Experience</h3>
				<ul class="expertises">
					<li>Bioinformatic Data Analysis</li>
					<li>Development of Bioinformatic Tools</li>
					<li>Statistical Data Evaluation</li>
					<li>Research-Driven Literature Research</li>
					<li>Engineering of Recombinant DNA Vectors</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h3>Process Experience</h3>
				<ul class="expertises">
					<li>S1 /S2 Lab Environment</li>
					<li>Aseptic Cell Culture</li>
					<li>Academic / Industrial Working Environment</li>
					<li>Coaching Students and new Lab Members</li>
				</ul>
			</div>
		</div>
	</div>
</article>
<hr class="line mt-2" />
<article class="row">
	<div class="col-sm-8">
		<h2 class="section-title"><span>{{fa-icon 'plus-square' size=1}}</span> Who is Jessica Jordan?</h2>
		<p><strong>Jessica Jordan</strong> is a freelance <strong>front-end developer</strong> living in <strong>Berlin, Germany</strong>. Jessica can
		help her clients to <strong>build</strong> and <strong>optimize User Interfaces</strong> and <strong>implement User Experience</strong> concepts.
		Her expertise lies in the <strong>development of front-end</strong> of <strong>web</strong>-based <strong>sites and applications</strong>. 
		With several years of experience in <strong>front-end development</strong>, <strong>Jessica Jordan</strong> gained commercial hands-on experience in <strong>HTML5, CSS3, Javascript</strong>
		and in the front-end <strong>frameworks Bootstrap, jQuery and Ember.js</strong>. She can be seen as a self-taught <strong>mid-weight front-end developer</strong>
		with a strong passion for the <strong>MVC framework Ember</strong>, <strong>Single-Page Application development</strong> and <strong>Responsive Design</strong>.</p> 		
	</div>
	<div class="col-sm-4 centered">
		<p class="avatar"><img src="assets/img/jessica-avatar.jpeg" alt="Jessica_Jordan_Avatar" /></p>
	</div>
</article>
<article class="row">
<div class="col-sm-12">
	<h2 class="section-title"><span>{{fa-icon 'plus-square' size=1}}</span> What can Jessica offer to a client who is in need of front-end development?</h2>
	<p>Her focus of work lies on the technical implementation of <strong>UX/UI optimization</strong> of websites including the full workflow of technical <strong>planning, implementation and evaluation of A/B tests</strong>,
	multi-page and multi-variate tests. Besides, <strong>Jessica Jordan</strong> can help you with other website-related issues as <strong>Search Engine Optimization (SEO)</strong>,
	<strong>Responsive Page Design</strong>, <strong>Web-Standard Compliant Templating</strong> and <strong>Webcontent Management</strong>.</p>
</div>
</article>
<article class="row mt-3">
<div class="col-sm-4">
	<p class="thumbnail-pic" title="Comic Character from Dusk"><img src="assets/img/dusk-character2.png" alt="Dusk_Comic_Character" /></p>
</div>
<div class="col-sm-8">
	<h2 class="section-title"><span>{{fa-icon 'plus-square' size=1}}</span> How does Jessica Jordan spend her spare time?</h2>
	<p>She attends, co-organizes and coaches at open and free front-end and coding workshops in Berlin. <strong>Jessica</strong> is a big 
	open-source enthusiast, fell in love with <strong>Ember.js</strong> one year ago and is working on a dedicated <strong>Ember app</strong>
	to publish her own webcomic "Dusk". If you want to have a look at the first release of this <strong>application in ember</strong> v1.8, check it 
	out <a href="http://www.dusk-comic.com" target="_blank" title="See Jessica's ember app Dusk-Comic">here</a>.</p>
	<p>Did you know? This portfolio which you are currently browsing is an <strong>Ember app</strong> as well!</p>
</div>
</article>
<article class="row mt-3" id="contactjessica">
	<div class="col-sm-12">
		<h2 class="section-title"><span>{{fa-icon 'plus-square' size=1}}</span> Get into contact with Jessica Jordan</h2>
		<p>You have a project that needs sophisticated <strong>front-end development and optimizations</strong> until it goes live? You need 
		help in the <strong>visual optimization</strong> of the customer workflow of your website? You want to build your next <strong>single-page application in Ember.js</strong> and
		need the respective <strong>development skills</strong>? You just want to get to know more about Jessica and see what she is and has been
		working on? Then don't hesitate and get into contact with her today!</p>
	</div>
</article>
<article class="row mb-12">
		<div class="contact-methods mt-3">
			<div class="col-sm-2">
				<p><strong>E-Mail</strong></p>
				<span title="Jessica Jordan E-Mail">{{fa-icon 'envelope' size=3}} <br /> jessica.jordan.fe.dev {aet} gmail.com</span>
			</div>
			<div class="col-sm-2">
				<p><strong>Twitter</strong></p>
				<a href="https://twitter.com/jjordan_dev" target="_blank" title="Jessica Jordan Twitter">{{fa-icon 'twitter' size=3}} <br /> jjordan_dev</a> 
			</div>
			<div class="col-sm-2">
				<p><strong>Github</strong></p>
				<a href="https://github.com/JosephineJ" target="_blank" title="Jessica Jordan Github">{{fa-icon 'github' size=3}} <br /> josephinej</a>
			</div>
			<div class="col-sm-2">
				<p><strong>LinkedIn</strong></p>
				<a href="https://www.linkedin.com/in/jessicajordanfedev" target="_blank" title="Jessica Jordan Linkedin">{{fa-icon 'linkedin' size=3}} <br /> jessicajordanfedev</a>
			</div>
			<div class="col-sm-2">
				<p><strong>Xing</strong></p>
				<a href="https://www.xing.com/profile/Jessica_Jordan2" target="_blank" title="Jessica Jordan Xing">{{fa-icon 'xing' size=3}} <br /> Jessica Jordan</a>
			</div>
			<div class="col-sm-2">
				<p><strong>Facebook</strong></p>
				<a href="https://www.facebook.com/jessica.jordan.front.end.developer" target="_blank" title="Jessica Jordan Facebook">{{fa-icon 'facebook' size=3}} <br /> Jessica Jordan</a>
			</div>
		</div>
</article>
</section>
