<header class="row main-header mobile hide-on-med-and-up">
  <h1 class="col s12 m6">Talks</h1>
</header>        
<div class="row talk-row">
{{#each talks as |talk|}}
  <div class="col talk-col">
  {{#md-card title=talk.event
    titleClass=(if talk.isUpcoming 'dark-gray-text' 'white-text')
    image=talk.imgUrl
    class=(if talk.isUpcoming 'talk--upcoming' 'talk--done dark-punk white-text')}}

    {{#md-card-content}}
        {{talk.title}} - {{talk.date}} @{{talk.location}}
    {{/md-card-content}}

    {{#md-card-action}}
      {{#unless talk.isUpcoming}}
        {{#if talk.videoUrl}}<<a href={{talk.videoUrl}} target="video">Video</a>{{/if}}
        {{#if talk.slidesUrl}}<a href={{talk.slidesUrl}} target="slides">Slides</a>{{/if}}
        {{#if talk.blogUrl}}<a href={{talk.blogUrl}} target="blog">Blog Post</a>{{/if}}
      {{else}}
         <a href={{talk.confUrl}} target={{talk.event}}>Upcoming (Abtract)</a>
      {{/unless}}
    {{/md-card-action}}

  {{/md-card}}
  </div>
{{/each}}
</div>
{{outlet}}
